<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>FilterDemo</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- Filters -->
  <filter>
    <filter-name>loginFilter</filter-name>
    <filter-class>demo.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>loginFilter</filter-name>
    <url-pattern>/dashboard</url-pattern> <!-- Filter the /dashboard url -->
    <url-pattern>/profile</url-pattern> <!-- Filter the /profile url -->
  </filter-mapping>
  
  <filter>
    <filter-name>loginFilter2</filter-name>
    <filter-class>demo.LoginFilter2</filter-class>
    <init-param>
      <param-name>userid</param-name>
      <param-value>sps</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>loginFilter2</filter-name>
    <url-pattern>/dashboard</url-pattern> <!-- Filter the /dashboard url -->
    <url-pattern>/profile</url-pattern> <!-- Filter the /profile url -->
  </filter-mapping>
  
  
  <!-- Filters -->
  
  <!-- Account Dashboard -->
  <servlet>
    <servlet-name>AccountDashboard</servlet-name>
    <servlet-class>demo.AccountDashboard</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountDashboard</servlet-name>
    <url-pattern>/dashboard</url-pattern>
  </servlet-mapping>
  <!-- Account Dashboard -->
  
  <!-- Account Profile -->
  <servlet>
    <servlet-name>AccountProfile</servlet-name>
    <servlet-class>demo.AccountProfile</servlet-class>
  </servlet>
   <servlet-mapping>
    <servlet-name>AccountProfile</servlet-name>
    <url-pattern>/profile</url-pattern>
  </servlet-mapping>
  <!-- Account Profile -->
  
  <!-- Info Page -->
  <servlet>
    <servlet-name>InfoPage</servlet-name>
    <servlet-class>demo.InfoPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InfoPage</servlet-name>
    <url-pattern>/info</url-pattern>
  </servlet-mapping>
    <!-- Info Page -->
  
</web-app>